body {
	margin: 2px;
}
.header {
	background-color:white;
	width: 100%;
	min-height:40px;
	white-space: nowrap;
	display: flex;
	box-sizing: border-box;
	float: right;
	position: fixed;
	max-height: 40px;
	z-index: 2;
}

.header>.menu {
	min-width: 30px;
	margin-left: 16px;
	margin-right: 16px;
	align-self: stretch;
	display: flex;
	font-size: 26px;
}

.header>.menu:hover {
	color: #f0f0f0;
}
body::-webkit-scrollbar{
	width:4px
}
body::-webkit-scrollbar-track{
	width:4px;
	background-color:white;
}
body::-webkit-scrollbar-thumb{
background-color:gray;	
}
.article {
	height: 100vh;
	display: flex;
}

.sidebar {
	background-color:#fff;
	padding-top: 40px;
	position: fixed;
	height: 100vh;
	width: 11%;
	box-sizing: border-box;
	z-index: 1;
	overflow-y: scroll;
}
.sidebar::-webkit-scrollbar{
	width:4px
}
.sidebar::-webkit-scrollbar-track{
	width:4px;
	background-color:white;
}
.sidebar::-webkit-scrollbar-thumb{
background-color:gray;	
}
.sidebar:hover {
	width: 20%;
}

.side_text {
	padding-top: 0px;
}

.txt_nowrap {
	white-space: nowrap;
}
.title{
	font-size:15px;
	text-decoration:none;
	color:black;
	padding-top:3px;
}
.side_title_space {
	padding-left: 6px;
}

.icon {
	margin-top: 7px;
	border-radius: 50%;
}
.side_name {
	font-size:25px;
	padding-left: 6px;
}
.side_title {
	font-size: 15px;
	padding-top: 0px;
	/*font-weight: bold;*/
}

.side_elems {
	padding-top: 5px;
}

.side_elems_in {
	color: black;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 7px;
	max-height: 50px;
	min-height: 50px;
	/*background-color: #81e0e0;*/
	overflow: hidden;
}

.side_elems:hover {
	padding-left: 20px;
	transition: padding-left 0.5s;
}

main {
	background-color:#fafafa;
	padding-top: 50px;
	padding-left: 11%;
	width: 100%;
}
.recoms {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 5px;
}

.recom_child {
	/*border: 1px solid white;*/
	max-height: 250px;
	width: 240px;
	
	overflow: hidden;
}
.recom_character{
	color:black;
	text-decoration: none;
}
.thumb_link {
	max-height: 70px;
	overflow: hidden;
}

.thumb {
	width: 240px;
	height: 134px;
}