<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ようこそ！</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="header">
      <a class=" menu">
        <svg style="padding-top:5px;pointer-events: none; display: block; width: 50px; height: 30px;">
          <path d="M21,4H3V5h50V4z M21,13H3v1h50V13z M21,22H3v1h50V22z">
        </svg>
      </a>
      <div class="menu">
        <a href="/"><img style="height:40px" alt="can't read logo" src="/logo.png"></img></a>
      </div>
    </div>
    <article class="article">
      <div class="sidebar">
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
       <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
        <div class="side_elems">
        <div class="side_elems_in">
        <a class="side_text"><img width="40" alt="icon" src="/icon.png">
        yeahhhhhhhhhhhhsdffffffffffffffffffffffh</a>
        </div>
        </div>
      </div>
      <main>
        <div class="player">
          <img style="width:100%;height:100%;" alt="image" src="/ninja0.gif">
        </div>
        <div class="recoms">
          <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
          
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
           <div style="padding:30px">
            <div class="recom_child">
              <img src="/ninja0.jpg" class="thumb">
                <div class="thumb_link">
                  <a href="live/yuta-alive" style="color:white;">
                    <span style="font-size:30px">Yuta is alive!</span>
                    <br>
                    <span style="font-size:15px">How'd he alive alone still happy?</span>
                  </a>
                </div>
              <p>2020/6/10</p>
            </div>
          </div>
        </div>
      </main>
    </article>
  </body>
</html>