<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>ようこそ！</title>
<link rel="stylesheet" href="/index.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/index.js"></script>



</head>

<body>
	<div class="header">
		<a class=" menu"> <svg
				style="padding-top: 5px; pointer-events: none; display: block; width: 50px; height: 30px;">
        <path d="M21,4H3V5h50V4z M21,13H3v1h50V13z M21,22H3v1h50V22z">
      </svg>
		</a>
		<div class="menu">
			<a class="title" href="/"><span style="font-size: 20px;">W</span>atch
				<span style="font-size: 20px">L</span>iteraly</a>
		</div>
	</div>
	<article class="article">
		<div class="sidebar"></div>
		<main>
			<div class="recoms"></div>
		</main>
	</article>
</body>
</html>